<div id="editor" class="row">
  <%= form_for @post, :url => post_add_path, html: { id: "editor-form", class:"column small-12" } do |f| %>
    <div class="row">
      <div class="column small-12 medium-8">
	<%= f.text_field :title, placeholder: "Post Title"%>
        <!-- Quill Editor START -->
        <div id="content-editor-container">
	  <%= f.hidden_field :content %>
          <editor v-on:editor-fetch="postContent = $event" <%= value="" %> ></editor>
        </div>
        <!-- Quill Editor END -->

	<%= f.hidden_field :source, value: "web_editor" %>
      </div>
      <div class="column small-12 medium-4">
	<%= f.submit value: "Publish Post", "v-on:click": "publishPost()", class: "button" %>
        <div class="callout editor-widget tags-widget">
          <h5>Tags</h5>
	  <%= f.text_field :tags_str, placeholder: "Post Tags" %>
          <small>Note: Use coma (',') to define multiple tags</small>
        </div>
      </div>
    </div>
  <% end %>
</div>
