<div class="row">
  <div class="columns small-12 medium-8">
    <% @posts.each do |p| %>
    <div id="post-<%= p.id %>" class="post-card row">
      <div class="thumb-box small-12 medium-3">
	<a href="/blog/<%= p.slug %>">
	  <img src="<%= p.thumb_url %>">
	</a>
      </div>
      <div class="preview-box columns small-12 medium-9">
        <div class="meta-info">
	  <h4 class="title"><a href="/blog/<%= p.slug %>"><%= p.title  %></a></h4>
	  <small class="meta-data">Posted by <%= p.user.name %> on <%= p.created_at.strftime("%d %B %Y") %></small>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="columns small-12 medium-4">
    <div class="sidebar-widget persona-widget">
      
    </div>
    <div class="sidebar-widget" id="tags-widget">
      <div class="widget-title">
        <h4>Tags</h4>
      </div>
      <div id="tags-list-container">
        <ul id="tags-list">
          <% @tags.each do |tag| %>
          <li><a href="/blog/tags/<%= URI.encode(tag.name.downcase) %>"><%= tag.name %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
      
    </div>
  </div>
</div>
