<% if !@post.nil? %>
<% content_for :page_title do 
     @post.title
   end
%>

<div class="post-single">

  <div class="post-head">

    <div class="meta-container">
      <div class="row">
        <div class="columns small-12">
          <h1 class="title"><%= @post.title %></h1>
          <ul class="meta-tags">
          <% @post.tags.each do |tag| %>
            <li><a href="/blog/tags/<%= URI.encode(tag.name.downcase) %>"><%= tag.name %></a></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="post-head-heroes">
      <img src="<%= @post.thumb_url.nil? ? image_url("no-thumbnail.jpg") : @post.thumb_url %>">
    </div>
  </div>

  <div class="post-body">
    <div class="row">
      <div class="columns small-12">
        <%= @post.content.html_safe %>
      </div>
    </div>
  </div>

  <div class="post-foot-note">
    <div class="row">
      <div class="columns small-12">
        <div id="single-social-connect">
          <h3>Get in Touch</h3>
          <ul id="social-media-list">
	    <li><a href="https://twitter.com/HibikiKz"><i class="fab fa-twitter"></i></a></li>
	    <li><a href="https://instagram.com/HibikiKz"><i class="fab fa-instagram"></i></a></li>
	    <li><a href="https://t.me/HibikiKz"><i class="fab fa-telegram-plane"></i></a></li>
	    <li><a href="https://github.com/HibikiKz"><i class="fab fa-github-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="comment-section">
    <div class="row">
      <div class="columns small-12">
        <div id="disqus_thread"></div>
	  <script>
	  var disqus_config = function () {
	  this.page.url = "<%= request.url %>"; 
	  this.page.identifier = "blog_id_<%= @post.id %>_<%= @post.slug %>"; 
	  };

	  (function() {
	  var d = document, s = d.createElement('script');
	  s.src = '<%= ENV["DISQUS_TARGET_URL"] %>';
	  s.setAttribute('data-timestamp', +new Date());
	  (d.head || d.body).appendChild(s);
	  })();
	  </script>
	  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </div>
    </div>
  </div>

</div>
<% end %>

