<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rizkie Pratama - <%= yield(:page_title).present? ? yield(:page_title) : "Blog" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:site_name" content="Rizkie Pratama Blog" />
    <meta property="og:title" content="Rizkie Pratama - <%= yield(:page_title).present? ? yield(:page_title) : "Blog" %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:description" content="<%= @post.present? ? strip_tags(@post.content.truncate(150)) : "Rizkie Pratama Personal Weblog filled with random topic and notes" %>" />
    <meta property="og:image" content="<%= @post.present? ? @post.thumb_url : image_url("logo_banner.png") %>" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="480" />
    <%= stylesheet_link_tag  'global' %>
    <%= stylesheet_link_tag  'blog' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Rubik&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav id="navigation-bar">
      <div class="row align-middle">
        <div id="nav-ico-block" class="columns small-12 medium-6">
          <a id="site-ico" href="/dashboard"><h1 class="ico-text">Rizkie <span class="ico-f1">Pratama</span></h1></a>
        </div>
        <div id="nav-menu-block" class="columns small-12 medium-6">
	  <ul id="nav-menu" class="menu navbar-align">
	    <li><a href="/">Home</a></li>
	    <li><a href="/blog">Blog</a></li>
	    <li><a href="/blog/feed.xml">RSS FEED</a></li>
	  </ul>
        </div>
      </div>
    </nav>


    <div id="blog-body">
      <%= yield %>
    </div>

    <footer id="blog-footer">
      <div class="row">
        <div class="columns small-12">
          <div class="foot-note">
            <span>&copy 2018 Rizkie Pratama | <a href="mailto:personal@rizkiepratama.net">Contact</a></span>
          </div>
        </div>
      </div>
    </footer>

    <!-- DISQUS -->
    <script id="dsq-count-scr" src="<%= ENV["DISQUS_COUNT_TARGET_URL"] %>" async></script>
  </body>
</html>
