<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rizkie Pratama - Welcome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  'global' %>
    <%= stylesheet_link_tag  'dashboard' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Rubik&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav id="navigation-bar">
      <div class="align-middle align-center">
        <div id="nav-ico-block" class="columns medium-8 small-12">
          <button id="toggle-menu" class="hamburger-box">
            <i class="fas fa-bars"></i>
          </button>
          <a id="site-ico" href="/dashboard"><h1 class="ico-text">Rizkie <span class="ico-f1">Pratama</span></h1></a>
        </div>
        <div class="columns medium-4 small-12">
        </div>
      </div>
    </nav>

    <div id="dashboard" class="dashboard-wrap">
      <div id="dashboard-menu" class="dashboard-drawer-menu">
        <ul id="global-menu" class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
          <li>
            <a href="/dashboard/posts"><i class="menu-icon fas fa-th-list"></i><span class="menu-text">Post</span></a>
            <ul class="vertical menu nested">
              <li><a href="/dashboard/posts/new">Create New Post</a></li>
            </ul>
          </li>
          <li>
            <a href=""><i class="menu-icon fas fa-cogs"></i><span class="menu-text">Settings</span></a>
          </li>
        </ul>
      </div>
      <div id="dashboard-content" class="dashboard-container">
        <%= yield %>
      </div>
    </div>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'dashboard' %>
  </body>
</html>

