<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rizkie Pratama - Welcome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  'global' %>
    <%= stylesheet_link_tag  'landing' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,800" rel="stylesheet">
  </head>

  <body>
    <nav id="navigation-bar">
      <div class="row align-middle">
        <div id="nav-ico-block" class="columns small-12 medium-6">
          <a href=""><h1 id="site-ico">Rizkie <span class="ico-last">Pratama</span></h1></a>
        </div>
        <div id="nav-menu-block" class="columns small-12 medium-6">
	  <ul id="nav-menu" class="menu align-right">
	    <li><a href="/">Home</a></li>
	    <li><a href="#about">About</a></li>
	    <li><a href="/blog">Blog</a></li>
	  </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer id="landing-footer">
      <div class="row">
        <div class="columns small-12">
          <div class="foot-note">
            <span>&copy 2018 Rizkie Pratama | <a href="mailto:personal@rizkiepratama.net">Contact</a></span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

