<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rizkie Pratama - Welcome</title>
    <meta property="og:site_name" content="Rizkie Pratama - Welcome" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.base_url %>"/>
    <meta property="og:description" content="Rizkie Pratama Personal Weblog filled with random topic and notes"/>
    <meta property="og:image" content="<%= image_url("logo_banner.png") %>" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="480" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  'global' %>
    <%= stylesheet_link_tag  'landing' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Rubik&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav id="navigation-bar">
      <div class="row align-middle">
        <div id="nav-ico-block" class="columns small-12 medium-6">
          <a id="site-ico" href="/dashboard"><h1 class="ico-text">Rizkie <span class="ico-f1">Pratama</span></h1></a>
        </div>
        <div id="nav-menu-block" class="columns small-12 medium-6">
	  <ul id="nav-menu" class="menu navbar-align">
	    <li><a href="/">Home</a></li>
	    <li><a href="#about">About</a></li>
	    <li><a href="/blog">Blog</a></li>
	  </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer id="landing-footer">
      <div class="row">
        <div class="columns small-12">
          <div class="foot-note">
            <span>&copy 2018 Rizkie Pratama | <a href="mailto:personal@rizkiepratama.net">Contact</a></span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

